In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py): started
  Building wheel for sqlalchemy (setup.py): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp38-cp38-win_amd64.whl size=1154672 sha256=7a64a2fcd2a979971189199360b85e332ad07c4a6e4cea7fb43d33fe4d710b24
  Stored in directory: c:\users\chun.dai\appdata\local\pip\cache\wheels\cb\43\46\fa638f2422554332b7865d600275b24568bf60e76104a94bb4
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.3.9
Collecting ibm_db_sa
  Downloading ibm_db_sa-0.3.7.tar.gz (30 kB)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\chun.dai\anaconda3\envs\my_iod\lib\site-packages (from ibm_db_sa) (1.3.9)
Collecting ibm_db>=2.0.0
  Downloading ibm_db-3.0.4.tar.gz (796 kB)
Building wheels for collected packages: ibm-db-sa, ibm-db
  Building wheel for ibm-db-sa (setup.py): started
  Building wheel for ibm-db-sa (setup.py): finished with status 'done'
  Created wheel for ibm-db-sa: filename=ibm_db_sa-0.3.7-py3-none-any.whl size=29302 sha256=058ce843a3ef22c7e2ede6b68e849cdbaead8c190ca9beff43c1b0c511f1c4a4
  Stored in directory: c:\users\chun.dai\appdata\local\pip\cache\wheels\56\a8\bf\19bbcc1d370b4fdc46c95228b6db3cdb5689b4afad12da3bc4
  Building wheel for ibm-db (setup.py): started
  Building wheel for ibm-db (setup.py): finished with status 'done'
  Created wheel for ibm-db: filename=ibm_db-3.0.4-py3-none-any.whl size=27449886 sha256=aaaee70203674294f541618fa05631627820e0c61fd20c6f2d6d875ca0605fc2
  Stored in directory: c:\users\chun.dai\appdata\local\pip\cache\wheels\d3\b4\35\a36838dd28cd2a15e4df56e859803d0a0387069e0f951a013e
Successfully built ibm-db-sa ibm-db
Installing collected packages: ibm-db, ibm-db-sa
Successfully installed ibm-db-3.0.4 ibm-db-sa-0.3.7

In [3]:
%load_ext sql

In [12]:
%sql ibm_db_sa://ddc44955:p9fhx-jzj4mg6p2s@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB

In [17]:
%sql SELECT DISTINCT launch_site from SPACEXTBL1

 * ibm_db_sa://ddc44955:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('CCAFS LC-40',),
 ('CCAFS SLC-40',),
 ('CCAFSSLC-40',),
 ('KSC LC-39A',),
 ('VAFB SLC-4E',)]

In [18]:
%sql SELECT * from SPACEXTBL1 limit 5

 * ibm_db_sa://ddc44955:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(datetime.date(2010, 6, 4), datetime.time(18, 45), 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(2010, 12, 8), datetime.time(15, 43), 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (datetime.date(2012, 5, 22), datetime.time(7, 44), 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (datetime.date(2012, 10, 8), datetime.time(0, 35), 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 3, 1), datetime.time(15, 10), 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

In [19]:
%sql SELECT * from SPACEXTBL1 WHERE launch_site LIKE 'CCA%' limit 5

 * ibm_db_sa://ddc44955:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(datetime.date(2010, 6, 4), datetime.time(18, 45), 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(2010, 12, 8), datetime.time(15, 43), 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (datetime.date(2012, 5, 22), datetime.time(7, 44), 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (datetime.date(2012, 10, 8), datetime.time(0, 35), 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 3, 1), datetime.time(15, 10), 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

In [25]:
%sql SELECT customer, sum(payload_mass__kg_) from SPACEXTBL1 Group by customer limit 10

 * ibm_db_sa://ddc44955:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('ABS Eutelsat', 7759),
 ('AsiaSat', 8963),
 ('Bulsatcom', 3669),
 ('CONAE', 3000),
 ('CONAE, PlanetIQ, SpaceX', 3130),
 ('Canadian Space Agency (CSA)', 4200),
 ('EchoStar', 5600),
 ('Es hailSat', 5300),
 ('Hisdesat exactEarth SpaceX', 2150),
 ('Hispasat  NovaWurks', 6092)]

In [26]:
%sql SELECT MIN(DATE) from SPACEXTBL1 where mission_outcome = 'Success'

 * ibm_db_sa://ddc44955:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(datetime.date(2010, 6, 4),)]