In [17]:
import pandas as pd

In [19]:
cm = {'n=165':['Actual No','Actual yes'],
     'Predicted No':[50,5],
     'Predicted yes':[10,100]}

df = pd.DataFrame(cm)

pivot = df.pivot_table()
df

        n=165  Predicted No  Predicted yes
0   Actual No            50             10
1  Actual yes             5            100

In [20]:
# define the value
TP = 100 
TN =  50
FP =  10
FN =  5
Total = TP + TN + FP + FN

In [4]:
Accuracy = (TP + TN)/(Total)
Accuracy

0.9090909090909091

In [5]:
Misclassification_Rate = (FP + FN)/Total 
Misclassification_Rate

0.09090909090909091

In [9]:
True_Positive_Rate = TP/(TP + FN)
True_Positive_Rate

0.9523809523809523

In [11]:
False_Positive_Rate = FP/(TN + FP)
False_Positive_Rate

0.16666666666666666

In [12]:
True_Negative_Rate = TN/(TN+FP)
True_Negative_Rate

0.8333333333333334

In [13]:
Precision = TP/(TP + FP)
Precision

0.9090909090909091

In [21]:
Prevalence = (TP + FN)/Total
Prevalence

0.6363636363636364